<ion-header>
  <ion-toolbar>
    <ion-title>
      Establishments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let est of establishments">
          <ion-label>
            <p>{{est.establishment.name}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
